

/* page Animations */


body {
    background: #a0a5b1 !important;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font: normal 14px/1.618em "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

body:before {
    content: "";
    height: 0px;
    padding: 0px;
    /* border: 130em solid #313440; */
    /* border: 2px solid red; */
    position: absolute;
    /* border: 5px solid darkblue; */
    left: 50%;
    top: 100%;
    z-index: 0;
    opacity: 0;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.profile-card {
    background-color: #bcdee7;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
@-webkit-keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes init {
    0% {
        
        width: 0px;
        height: 0px;
    }

    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes puff {
    0% {
        border: 130em solid #313440;

        top: 100%;
        height: 0px;
        padding: 0px;
    }

    100% {
        border: 130em solid #313440;

        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@keyframes puff {
    0% {
        border: 130em solid #313440;

        top: 100%;
        height: 0px;
        padding: 0px;
    }
    
    100% {
        border: 130em solid #313440;

        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@-webkit-keyframes borderRadius {
    0% {
        border: 130em solid #313440;

        -webkit-border-radius: 50%;
    }
    
    100% {
        -webkit-border-radius: 0px;
    }
}

@keyframes borderRadius {
    0% {
        border: 130em solid #313440;

        -webkit-border-radius: 50%;
    }
    100% {
        border: none;
        border-radius: 0px;
    }
}

@-webkit-keyframes moveDown {
    0% {
        top: 50%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 100%;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 50%;
        background: #E0E0E0;
    }
}

@keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 50%;
        background: #E0E0E0;
    }
}

@-webkit-keyframes materia {
    0% {
        background: #E0E0E0;
    }

    50% {
        -webkit-border-radius: 4px;
    }

    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}

@keyframes materia {
    0% {
        background: #E0E0E0;
    }

    50% {
        border-radius: 4px;
    }

    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        border-radius: 4px;
    }
}

@-webkit-keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: -20px;
    }
}

@keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {
        opacity: 0;
        margin-top: -20px;
    }
}

@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }

    50%,
    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }

    100% {
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }

    50%,
    100% {
        transform: scale3d(1, 1, 1);
    }

    100% {
        opacity: 0;
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: cover;
    }

    body:before {
        width: 0px;
    }

    @-webkit-keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }

        100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }
    }

    @keyframes puff {
        0% {
            opacity: 0;
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }

        100% {
            opacity: 1;
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

@media screen and (min-height: 480px) {

    @-webkit-keyframes materia {
        0% {
            
        }

        50% {
            -webkit-border-radius: 4px;
        }

        100% {
            width: 280px;
            -webkit-border-radius: 4px;
        }
    }
.navbar-default{
    animation-name: manageSize;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes manageSize {
    0%{
        opacity: 0;
    }50%{
        opacity: 0;
    }90%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
    @keyframes materia {
        0% {
            opacity: 0;
            background: #FFB300;
            /* border: 2px solid orange; */
        }

        50% {
            opacity: 1;
            border-radius: 4px;
        }
        90%{
            opacity: 1;
        }
        100% {
    
            opacity: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }
}
.mainDiivv{
    animation: checkerOpacity;
    animation-duration: 4s;
    /* opacity: 0; */
    animation-delay: 4s;
}
@keyframes checkerOpacity {
    form{
        opacity:0;
        /* display: none; */
    }to{
        opacity: 1;
        /* display: block; */
    }
}