body{
    background-color: #66cccc ;
}
.mainDiv{
    position: relative;
    height: 100vh;
}
h1{
    text-align: center;
}
.stick{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* align-items: center; */
}
.stick .stick_1{
    border: 2px solid orange;    
    background-color: rgba(180, 47, 47, 0.889);
    width: 20px;
    height: 350px;
    border-radius: 50px;
    animation-name: stick_1;
}
@keyframes stick_1{
    from{
        transform: translatey(300px);
    }
    to{
        transform: translatey(0px);
    }
}
.stick .stick_2{
    border: 2px solid orange; 
    background-color: rgba(180, 47, 47, 0.889);
    width: 20px;
    height: 350px;
    border-radius: 50px;
    animation-name: stick_2;
}
@keyframes stick_2{
    from{
        transform: translatey(300px);
    }
    to{
        transform: translatey(0px);
    }
}
.balls{
    position: absolute;
    left: 25.6%;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.ball1{
    border: 2px solid orange;
    margin-top: 20px;
    background-color:orange;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation-name: ball_1;
}
@keyframes ball_1{
    form{
        transform: translate(0px);
    }
    to{
        transform: translate(600px ,300px);
    }
}
.ball2{
    border: 2px solid orange;
    margin-top: 20px;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation-name: ball_2;
}
@keyframes ball_2{
    form{
        transform: translate(0px);
    }
    to{
        transform: translate(600px ,50px);
    }
}
.ball3{
    border: 2px solid orange;
    margin-top: 20px;
    background-color: rgb(81, 248, 251);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation-name: ball_3;
}
@keyframes ball_3{
    form{
        transform: translate(0px);
    }
    to{
        transform: translate(600px ,-150px);
    }
}
.ball4{
    border: 2px solid orange;
    margin-top: 20px;
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation-name: ball_4;
}
@keyframes ball_4{
    form{
        transform: translate(0px);
    }
    to{
        transform: translate(600px ,-350px);
    }
}
.ball5{
    border: 2px solid orange;
    margin-top: 20px;
    background-color: pink;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation-name: ball_5;
}

@keyframes ball_5{
    form{
        transform: translate(0px);
    }
    to{
        transform: translate(600px ,-300px);
    }
}
.btn_1{
    
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    font-size: 30px;
    background-color: rgb(85, 241, 42);   
}