* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #efefef;
}

.FriendsDiv {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.FriendsInnerDiv {
  display: flex;
  width: 300px;
}

.FriendsDiv img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.FriendsDiv .FriendsImage {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.btns {
  min-width: 60px;
  padding: 10px;
  height: 30px;
  background-color: #FE9E3E;
  border: none;
  outline: none;
  border-radius: 5px;
  /* margin: 10px; */
}

.addBtn {
  width: 150px;
}

.addFrnd {
  margin-right: 20px;
}

.addFrinedDiv div {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.addFrinedDiv div input {
  width: 150px;
  height: 30px;
  border: 1px solid silver;
  outline-color: #FE9E3E;
  border-radius: 8px;
}

.addFrinedDiv {
  background-color: #FCF2E0;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 150px;
}

/* split bill */
.splitBillDiv {
  margin: 10px;
}

.splitBillInnerDiv {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.splitBillInnerDiv div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.splitBillInnerDiv div input,
select {
  width: 150px;
  height: 30px;
  border: 1px solid silver;
  outline-color: #FE9E3E;
  border-radius: 8px;
}

/* defalult css  */


.dflex {
  display: flex;
}


.justCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.alingItem {
  align-items: flex-end;
}

.justS_B {
  justify-content: space-between;
}

.justS_E {
  justify-content: space-evenly;
}

.justS_A {
  justify-content: space-around;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.gap {
  gap: 5px;
}

/* app.js css  */
.leftContainer {
  padding-top: 90px;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightContainer {
  padding-top: 90px;
  width: 50%;
  height: 100vh;
}