* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #efefef;
}
.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about {
    padding: 40px;
}
.contentDiv {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 70%;
}
.text ul {
    display: flex;
    margin-left: 20px;
}
.text ul li {
    list-style-type: none;
}
.text ul li:nth-child(1) {
    background-color: white;
    padding: 13px 61px 13px 61px;
}
.text ul li:nth-child(2) {
    background-color: lightgray;
    padding: 13px 61px 13px 61px;
}
.text ul li:nth-child(3) {
    background-color: gray;
    padding: 13px 61px 13px 61px;
}
.details {
    text-align: left;
    padding: 20px;
    margin-left: 20px;
    color: blueviolet;
    background-color: #fff;
    width: 500px;
    height: 215px;
}